/* Responsive table CSS from https://codepen.io/AllThingsSmitty/pen/MyqmdM */
/* Fixed table header CSS from https://codepen.io/tjvantoll/pen/JEKIu */

* {
    box-sizing: border-box;
}

img {
    max-width:100% !important;
    max-height:100% !important;
    display:block;
}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    font-size: 0.85em;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-spacing: 0;
    margin: 0 auto;
    padding: 0;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

th {
    letter-spacing: .1em;
    font-weight: bold;
}

th,
td {
    padding: .625em;
    text-align: left;
    vertical-align: middle;
    word-break:break-word;
    /* border-right: 1px solid red; */
}

td:nth-child(1),
th:nth-child(1) {
    width: 125px;
}

td:nth-child(2),
th:nth-child(2) {
    width: 125px;
}

td:nth-child(3),
th:nth-child(3) {
    width: 225px;
}

td:nth-child(4),
th:nth-child(4) {
    width: 200px;
}

td:nth-child(5),
th:nth-child(5) {
    width: 125px;
}

td:nth-child(6),
th:nth-child(6) {
    width: 125px;
}

td:nth-child(7),
th:nth-child(7) {
    width: 250px;
}

thead {
    background-color: #333;
    color: #FDFDFD;
}

tr {
    display: block;
    position: relative;
}

tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 400px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 1.25em;
    }

    table {
        border: 0;
        width: 100%
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tbody {
        height: initial;
    }

    table tr {
        border: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
        clear: both;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

    td:nth-child(1),
    th:nth-child(1),
    td:nth-child(2),
    th:nth-child(2),
    td:nth-child(3),
    th:nth-child(3),
    td:nth-child(4),
    th:nth-child(4),
    td:nth-child(5),
    th:nth-child(5),
    td:nth-child(6),
    th:nth-child(6),
    td:nth-child(7),
    th:nth-child(7){
        width: initial;
        min-width: 125px;
    }

    td:nth-child(8),
    th:nth-child(8) {
        width: initial;
    }

    img {
        width: 175px;
        float: right;
    }
}